<h1><%= @task.new_record? ? 'New task' : 'Edit task' %></h1>

<%= form_with(model: @task) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>

   <%= form.label :deadline %>
  <%= form.datetime_field :deadline %>

  <div>
    <%= form.submit %>
<% end %>