<h1><%= @task.new_record? ? 'New task' : 'Edit task' %></h1>

<%= form_with(model: @task) do |form| %>
<% if @task.errors.any? %>
    <div id="error_explanation">
      <h2 class= alert alert-danger ><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

   <%= form.label :deadline %>
  <%= form.datetime_field :deadline %>

  <div>
    <%= form.submit %>
<% end %>