<h1>Task</h1>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed ? 'Sí' : 'No' %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
  <% if @task.urgent? %>
    <span class="badge bg-danger float-end">You have less than 24 hours until this task expires!</span>
    <i class="fas fa-clock text-danger"></i>
  <% end %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
