<h1>Task</h1>

<div class="card <%= 'border-danger' if @task.urgent? %>">
  <div class="card-body">
    <ul class="list-group">
      <li class="ms-2 list-group-item">
        <strong>Title:</strong>
        <%= @task.title %>
      </li>

      <li class="ms-2 list-group-item">
        <strong>Description:</strong>
        <%= @task.description %>
      </li>

      <li class="ms-2 list-group-item">
        <strong>Completed:</strong>
        <%= @task.completed ? 'Yes' : 'No' %>
      </li>

      <li class="ms-2 list-group-item">
        <strong>Deadline:</strong>
        <%= @task.deadline %>
        <% if @task.urgent? %>
          <span class="badge bg-danger me-2 float-end">You have less than 24 hours until this task expires!</span>
          <i class="fas fa-clock text-danger"></i>
        <% end %>
      </li>
    </ul>
      <div class="d-flex justify-content-end mt-3">
        <%= link_to 'Edit', edit_task_path(@task), type:"button", class:"btn btn-sm btn-success" %> 
        <%= link_to 'Back',tasks_path, type:"button", class:"btn mx-2 btn-sm btn-success"%>
    </div>
  </div>
</div>
  
